.popup__input-submit {
  margin: 48px auto 0;
  min-width: 358px;
  min-height: 50px;
  background: #000;
  border-radius: 2px;
  color: #FFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.popup__input-submit:hover {
  opacity: .8;
  transition: ease .5s;
}

@media screen and (max-width: 320px) {
  .popup__input-submit {
    margin: 45px auto 0;
    min-width: 238px;
    min-height: 46px;
  }
}
