.profile__info-textbox {
  margin-left: 30px;
  padding: 0;
  max-width: 336px;
  display: grid;
  flex-wrap: wrap;
  align-items: flex-end;
  grid-template-columns: 294px 42px;
  grid-template-rows: 40px 34px;
}

@media screen and (max-width: 320px) {
  .profile__info-textbox {
    margin-top: 28px;
    margin-left: 24px;
    max-width: 282px;
    grid-template-columns: 189px 28px;
    grid-template-rows: 26px 28px;
  }
}
